<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
    <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Serach with product name" name="search" class=" "><i class="bx bx-search-alt-2"></i></span>
     </form>
    </div> 
    <ul class="box-holder">
      <%# <li><a href="">Fashion</a></li> %>
      <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"><span><%= @cart_count %></span></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <%if session[:current_user_id].present?%>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
  <div class="second-nav">
    <div class="container">
      <ul>
        <li><a href="/list_products">Catogeries</a></li>
        <li><a href="">Brands</a></li>
        <li><a href="">Offers</a></li>
        <li><a href="">Rewards</a></li>
        <li><a href="">Beauty Advice</a></li>
      </ul>
    </div>
  </div>
  <div class="catogeries_main_div">
    <div class="catogeries_sub_div">
      <ul class="list_content">
        <div>
          <li>
            Makeup
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Face 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Skin 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Hair 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
        </div>
      </ul>
      <div class="product_list_div">
        <% if @presence_value==0 %>
         <% @product.each do |add|%>
            <div class="box-container">
              <div class="image_content">
                <%= image_tag add.image, class:"list_img"%>
              </div>
              <div class="list_content_div">
                <div class="ul-list">
                  <ul>
                    <!-- <a href="/cart/<%= add['id'] %>">Add to cart</a> -->
                    <li><%= add.name %></li>
                    <div class="price_div">
                      <span>&#8377;</span>
                      <span>
                        <li><%= add.price %></li>
                      </span>
                    </div>
                  </ul>
                </div>
                <div class="icon_content_div">
                  <a href="/wishlist/<%= add['id'] %>"><i class='bx bx-heart' ></i></a>
                </div>
              </div>
              <div class="sub-btn">
                <button class="bt btn1">Buy now</button>
                <a href="/cart/<%= add['id'] %>"><button class="bt btn2">Add cart</button></a>
              </div>
            </div>
          <% end %> <% elsif @presence_value==1 and @search_params !=[]%>
          <% Add.all.each do |add|%> <% if @search_params.include? add.id %>
              <div class="box-container">
                <div class="image_content">
                  <%= image_tag add.image, class:"list_img"%>
                </div>
                <div class="list_content_div">
                  <div class="ul-list">
                    <ul>
                      <!-- <a href="/cart/<%= add['id'] %>">Add to cart</a> -->
                      <li><%= add.name %></li>
                      <div class="price_div">
                        <span>&#8377;</span>
                        <span>
                          <li><%= add.price %></li>
                        </span>
                      </div>
                    </ul>
                  </div>
                  <div class="icon_content_div">
                    <a href="/wishlist/<%= add['id'] %>"><i class='bx bx-heart' ></i></a>
                  </div>
                </div>
                <div class="sub-btn">
                  <button class="bt btn1">Book now</button>
                  <a href="/cart/<%= add['id'] %>"><button class="bt btn2">Add cart</button></a>
                </div>
              </div>
            <% end %>
          <% end %> <% elsif @search_params==[] and @presence_value==1 %>
          <div class="no_result_error">No Results Found</div>
        <%end%>
      </div>
    </div>
  </div>


<form action="/filter_catogeries">
  <div class="dropdown-holder">
    <ul class="names-list">
      <li class="list-holder">
        <div id="Makeup" onclick="dropdown('makeup-list')"> Makeup</div>
        <ul id="makeup-list">
          <li><input type="checkbox" name="bg_radio" value="Foundation">Foundation</li>
          <li><input type="radio" name="bg_radio">Compact</li>
          <li><input type="radio" name="bg_radio">Lipstick</li>
          <li><input type="radio" name="bg_radio">Kajal</li>
          <li><input type="radio" name="bg_radio">Eyeliner</li>
          <li><input type="radio" name="bg_radio">Nail polish</li>
        </ul>
      </li>
      <li class="list-holder">
        <div onclick="dropdown('makeup-list-2')"> Skin</div>
        <ul id="makeup-list-2">
          <li><input type="radio" name="bg_radio"> Moisturizers</li>
          <li><input type="radio" name="bg_radio"> Cleansers</li>
          <li><input type="radio" name="bg_radio"> Sunscreen</li>
        </ul>
      </li>
      <li class="list-holder">
        <div onclick="dropdown('makeup-list-3')"> Hair</div>
        <ul id="makeup-list-3">
          <li><input type="radio" name="bg_radio"> Hair Shampoo</li>
          <li><input type="radio" name="bg_radio"> Hair Conditioner</li>
        </ul>
      </li>
      <li class="list-holder">
        <div onclick="dropdown('makeup-list-4')"> Appliance</button>
        <ul id="makeup-list-4">
          <li><input type="radio" name="bg_radio"> Hair Dryers</li>
          <li><input type="radio" name="bg_radio"> Straighteners</li>
        </ul>
      </li>
    </ul>
  </div>
  <input type="submit">
</form>
<style>
    .active-drop{
        display: none;
    }

</style>

<script>
    function dropdown(listId){
        
        var drop_List_name = document.getElementById(listId);
    //    var drop_name = document.getElementById("Makeup");
       drop_List_name.classList.toggle("active-drop")
        
    }
</script>