<div class="first-nav">
  <div class="container">
    <%= link_to '/', class:"logo"  do %><label> azhagu</label><%end%>
    <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Search with product name" name="search" class=" "><i class="bx bx-search-alt-2"></i></span>
     </form>
    </div> 
    <ul class="box-holder">
      <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"><span><%= @cart_count %></span></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <%if session[:current_user_id].present?%>
            <% logged_user = User.find(session[:current_user_id]) %>
            <label class="user-name"><%= logged_user["name"] %></label>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
  <div class="second-nav">
    <div class="container">
      <ul>
        <li><a href="/list_products">Categories</a></li>
        <li><a href="homes/PageBuilding">Brands</a></li>
        <li><a href="homes/PageBuilding">Offers</a></li>
        <li><a href="homes/PageBuilding">Rewards</a></li>
        <li><a href="homes/PageBuilding">Beauty Advice</a></li>
      </ul>
    </div>
  </div>
  <div class="catogeries_main_div">
    <div class="catogeries_sub_div">


      <ul class="list_content">
        <div>
          <li>
            <a class="dropdown-item">
              <form action="/filter" method="get"><button type="submit" value="makeup" name="q" class="border-0 bg-white text-dark w-100">Makeup</button></form>
            </a>
            <%# <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span> %>
          </li>
          <li>
            <a class="dropdown-item">
              <form action="/filter" method="get"><button type="submit" value="face" name="q" class="border-0 bg-white text-dark w-100">Face</button></form>
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <form action="/filter" method="get"><button type="submit" value="skin" name="q" class="border-0 bg-white text-dark w-100">Skin</button></form>
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <form action="/filter" method="get"><button type="submit" value="hair" name="q" class="border-0 bg-white text-dark w-100">Hair</button></form>
            </a>
          </li>
        </div>
      </ul>


      
        <div class="product_list_div">
      <% if @presence_value==0 %> <% Add.all.each do |add|%>

      <div class="card" style="width: 18rem">
        <%= image_tag add.image, height:"300px" ,class: "img-card"%>

        <div class="card-body">
          <div class="card-title-holder">
            <h5 class="card-title"><%= add.name %></h5>
            <div class="like-cross-holder">
              <a href="/wishlist/<%= add['id'] %>" class="green"
                ><i class="bx bxs-heart"></i
              ></a>
            </div>
          </div>

          <p class="card-text">
            <li>RS.<%= add.price %> <i class="bx bxs-purchase-tag"></i></li>
          </p>
          <div class="btn-container">
            <%= link_to "homes/PageBuilding" ,class:"btn btn-success" do%> Book
            now<%end%>
            <a href="/cart/<%= add['id'] %>" class="btn btn-outline-success">
              add to cart</a
            >
          </div>
        </div>
      </div>

      <% end %> <% elsif @presence_value==1 and @search_params !=[]%> <%
      Add.all.each do |add|%> <% if @search_params.include? add.id %>
      <div class="card" style="width: 18rem">
        <%= image_tag add.image, height:"300px"%>

        <div class="card-body">
          <div class="card-title-holder">
            <h5 class="card-title"><%= add.name %></h5>
            <div class="like-cross-holder">
              <a href="/wishlist/<%= add['id'] %>" class="green"
                ><i class="bx bxs-heart"></i
              ></a>
            </div>
          </div>

          <p class="card-text">
            <li>RS.<%= add.price %> <i class="bx bxs-purchase-tag"></i></li>
          </p>
          <div class="btn-container">
            <%= link_to "homes/PageBuilding" ,class:"btn btn-success" do%> Book
            now<%end%>
            <a href="/cart/<%= add['id'] %>" class="btn btn-outline-success">
              add to cart</a
            >
          </div>
        </div>
      </div>
      <% end %> <% end %> <% elsif @search_params==[] and @presence_value==1 %>
      <div class="no_result_error">No Results Found</div>
      <%end%>
    </div>
    </div>
  </div>
