<%# <h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p> %>
<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
    <input type="search" name="search" placeholder="search" />
    <span><i class="bx bx-search-alt-2"></i></span>
    <ul class="box-holder">
      <%# <li><a href="">Fashion</a></li> %>
      <li>
        <%= link_to '/', class: "class_link" do %>
          <i class="bx bxs-heart"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '/', class: "class_link" do %>
          <i class="bx bxs-shopping-bag"></i>
        <% end %>
      </li>
      <%if session[:current_user_id] == nil %>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="">Catogeries</a></li>
      <li><a href="">Brands</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="">Rewards</a></li>
      <li><a href="">Beauty Advice</a></li>
    </ul>
  </div>
</div>
<div class="left">
  <ul>
    Catogeries
    <li>Makeup</li>
    <li>Face</li>
    <li>Skin</li>
    <li>Hair</li>
  </ul>
</div>
<div class="right">
  <% Add.all.each do |add|%>
    <div class="box-container">
      <ul>
        <li> name : <%= add.name %></li>
     <a href="/wishlist/<%= add['id'] %>">   <%= image_tag add.image, class:"list_img"%></a>
     <a href="/cart/<%= add['id'] %>">Add to cart</a>
        <li><%= add.price %></li>
        <li><%= add.catogeries %></li>
      </ul>
    </div>
  <%end%>
</div>
<% if @current_user.role == "admin" %>
  Delete, Edit
<% end %>
