<!-- <%# <h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p> %> -->
<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
    <span> <input type="submit" value="search" class=" "><i class="bx bx-search-alt-2"></i></span>
    <ul class="box-holder">
      <%# <li><a href="">Fashion</a></li> %>
      <li>
        <%= link_to '/', class: "class_link" do %>
          <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
        <% end %>
      </li>
      <li>
        <%= link_to '/', class: "class_link" do %>
          <i class="bx bxs-shopping-bag"></i>
        <% end %>
      </li>
      <%if session[:current_user_id] == nil %>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="">Catogeries</a></li>
      <li><a href="">Brands</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="">Rewards</a></li>
      <li><a href="">Beauty Advice</a></li>
    </ul>
  </div>
</div>
<div class="catogeries_main_div">
  <div class="catogeries_sub_div">
    <div class="left">
      <ul class="list_content">
        <div>
          <li>
            Makeup
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Face 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Skin 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
          <li>Hair 
            <span class="down-arrow"><i class='bx bxs-down-arrow' ></i></span>
          </li>
        </ul>
      </div>
      <div class="product_list_div">
        <% Add.all.each do |add|%>
          <div class="box-container">
            <div class="image_content">
              <%= image_tag add.image, class:"list_img"%>
            </div>
            <div class="list_content_div">
              <div class="ul-list">
                <ul>
                  <!-- <a href="/cart/<%= add['id'] %>">Add to cart</a> -->
                  <li><%= add.name %></li>
                  <div class="price_div">
                    <span>&#8377;</span>
                    <span>
                      <li><%= add.price %></li>
                    </span>
                  </div>
                </ul>
              </div>
              <div class="icon_content_div">
                <a href="/wishlist/<%= add['id'] %>"><i class='bx bx-heart' ></i></a>
              </div>
            </div>
            <div class="sub-btn">
              <button class="bt btn1">Book now</button>
              <a href="/cart/<%= add['id'] %>"><button class="bt btn2">Add cart</button></a>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <% if @current_user.role == "admin" %>
    Delete, Edit
  <% end %>
