<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
      <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Serach with product name" name="search" class=" "><i class="bx bx-search-alt-2"></i></span>
     </form>
    </div> 
    <ul class="box-holder">
      <%# <li><a href="">Fashion</a></li> %>
      
      <%if session[:current_user_id] == nil %>
      <li>
        <%= link_to '/wishlists', class: "class_link" do %>
          <i class="bx bxs-heart"></i>

        <% end %>
      </li>
      <li>
        <%= link_to '/cart', class: "class_link" do %>
          <i class="bx bxs-shopping-bag"></i>
        <% end %>
      </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
      <li>
        <%= link_to '/wishlists', class: "class_link" do %>
          <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>

        <% end %>
      </li>
      <li>
        <%= link_to '/cart', class: "class_link" do %>
          <i class="bx bxs-shopping-bag"><span><%= @cart_count %><span></i>
        <% end %>
      </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="/list_products">Catogeries</a></li>
      <li><a href="">Brands</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="">Rewards</a></li>
      <li><a href="">Beauty Advice</a></li>
    </ul>
  </div>
</div>
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('makeup_carousel2.webp',class:"d-block", style:"width:100%")%>
    </div>
    <div class="carousel-item">
      <%= image_tag('makeup_carousel1.jpg',class:"d-block", style:"width:100%")
      %>
    </div>
    <div class="carousel-item">
      <%= image_tag('makeup_carousel.webp',class:"d-block", style:"width:100%")
      %>
    </div>
  </div>
  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<div class="main_div">
  <div class="brands_logo">
    <h3>Top Brands</h3>
    <ul class="brand-holder">
      <li>
        <%= image_tag('brand_logo/maybelline_logo.png', style:"width:170px") %>
      </li>
      <li>
        <%= image_tag('brand_logo/nivea_logo.png', style:"width:170px") %>
      </li>
      <li>
        <%= image_tag('brand_logo/lakme_logo.png', style:"width:170px") %>
      </li>
      <li>
        <%= image_tag('brand_logo/nykaa_logo.svg', style:"width:170px") %>
      </li>
      <li>
        <%= image_tag('brand_logo/loreal-logo.png', style:"width:170px") %>
      </li>
    </ul>
  </div>
</div>
<%# section new products ----------------------- %>
<div class="container">
  <h1>New Products</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="card">
      <%= image_tag('img1.jpg', class: "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <%= image_tag('img1.jpg', class: "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
    </div>
    <div class="card">
      <%= image_tag('img1.jpg', class: "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
  </div>
</div>
<%# section new products ends ------------------------ %>
<div class="slick_carousel">
  <div>
    <h3>
      <img src="<%= asset_path 'img1.jpg' %>" class="home_offer_img1" width="400px" height="250px">
    </h3>
  </div>
  <div>
    <h3>
      <img src="<%= asset_path 'img1.jpg' %>" class="home_offer_img1" width="400px" height="250px">
    </h3>
  </div>
  <div>
    <h3>
      <img src="<%= asset_path 'img1.jpg' %>" class="home_offer_img1" width="400px" height="250px">
    </h3>
  </div>
  <div>
    <h3>
      <img src="<%= asset_path 'img1.jpg' %>" class="home_offer_img1" width="400px" height="250px">
    </h3>
  </div>
  <div>
    <h3>
      <img src="<%= asset_path 'img1.jpg' %>" class="home_offer_img1" width="400px" height="250px">
    </h3>
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slick_carousel').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: false,
          autoplaySpeed: 2000,
          slidesToShow: 3,
          arrows: true,
          dots: false
          });
  });
</script>
