<div class="first-nav">
  <div class="container">
    <%= link_to '/', class:"logo"  do %><label> azhagu</label><%end%>
    <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Search with product name" name="search" class=" "><em class="bx bx-search-alt-2"></em></span>
     </form>
    </div> 
    <ul class="box-holder">
      <%if session[:current_user_id] == nil %>
        <li>
          <%= link_to '/signin', class: "class_link" do %>
            <em class="bx bxs-heart"></em>
          <% end %>
        </li>
        <li>
          <%= link_to '/signin', class: "class_link" do %>
            <em class="bx bxs-shopping-bag"></em>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <em class="bx bxs-user-circle"></em>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <em class="bx bxs-heart"><span><%= @wishlist_count %></span></em>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <em class="bx bxs-shopping-bag"><span><%= @cart_count %></span></em>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <em class="bx bxs-user-circle"></em>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <em class='bx bx-log-out'></em>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="/list_products">Categories</a></li>
      <li><a href="homes/PageBuilding">Brands</a></li>
      <li><a href="homes/PageBuilding">Offers</a></li>
      <li><a href="homes/PageBuilding">Rewards</a></li>
      <li><a href="homes/PageBuilding">Beauty Advice</a></li>
    </ul>
  </div>
</div>

<div class="wl-container">
  <% @total_price = 0 %>
  <% @items.each do |cart_items| %>
    <div class="card" style="width: 18rem">
      <%= image_tag Add.find(cart_items.adds_id).image, height:"300px" ,class: "img-card", alt: "image not available" %>
      <div class="card-body">
        <div class="card-title-holder">
          <h5 class="card-title"><%= Add.find(cart_items.adds_id).name %></h5>
        </div>
        <p class="card-text">
          Rs.<%= @price =  Add.find(cart_items.adds_id).price %> <em class="bx bxs-purchase-tag"></em>
        </p>
        <div class="btn-container">
          <%= link_to  "/cart_delete/#{cart_items.id}", method: :delete, class:"btn btn-success", data: {confirm:
            'Are you sure ?'} do %><em class = "fa-solid fa-xmark"></em><%end%>
          <p class="quantity">Quantity : 
            <%= @quantity = cart_items.quantity %>
          </p>
        </div>
    </div>
    </div>
      <% @quantity_price = @quantity * @price %>
      <% @total_price = @total_price + @quantity_price %>
  <% end %>
  <div class = "cart-total">
   <p>Total - <span>&#8377;</span><span><%= @total_price %> </span></p>
    <%= link_to "homes/PageBuilding" do%><button>Pay Now</button><%end%>
  </div>
</div>
