<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
    <input type="search" name="search" placeholder="search" />
    <span><i class="bx bx-search-alt-2"></i></span>
    <ul class="box-holder">
      <!-- <%# <li><a href="">Fashion</a></li> %> -->
      <%if session[:current_user_id] == nil %>
        <li>
          <%= link_to '/wislists', class: "class_link" do %>
            <i class="bx bxs-heart"></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"><span><%= @cart_count %></span></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="">Catogeries</a></li>
      <li><a href="">Brands</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="">Rewards</a></li>
      <li><a href="">Beauty Advice</a></li>
    </ul>
  </div>
</div>
<div class="wl-container">
  <% @items.each do |cart_items| %>
    <div>
      <div class = "cart-img">
        <%= image_tag Add.find(cart_items.add_id).image, class:"wish-img" %>
      </div>
      <div class ="">
        <p class = "wish-price"><%= Add.find(cart_items.add_id).name %> </p>
        <p class = "wish-price"><%= Add.find(cart_items.add_id).price %> </p>
      </div>
    </div>
  <% end %>
</div>
