<div class="first-nav">
  <div class="container">
    <%= link_to '/', class:"logo"  do %><label> azhagu</label><%end%>
    <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Search with product name" name="search" class=" "><i class="bx bx-search-alt-2"></i></span>
     </form>
    </div> 
    <ul class="box-holder">
      <%if session[:current_user_id] == nil %>
        <li>
          <%= link_to '/signin', class: "class_link" do %>
            <i class="bx bxs-heart"></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/sigin', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"><span><%= @cart_count %></span></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="/list_products">Categories</a></li>
      <li><a href="homes/PageBuilding">Brands</a></li>
      <li><a href="homes/PageBuilding">Offers</a></li>
      <li><a href="homes/PageBuilding">Rewards</a></li>
      <li><a href="homes/PageBuilding">Beauty Advice</a></li>
    </ul>
  </div>
</div>

<div class="wl-container">
  <% @items.each do |wishlist_items| %>
    <div class="card" style="width: 18rem">
      <%= image_tag Add.find(wishlist_items.adds_id).image, height:"300px"%>
      <div class="card-body">
        <div class="card-title-holder">
          <h5 class="card-title"><%= Add.find(wishlist_items.adds_id).name %></h5>
        </div>
        <p class="card-text">
          <li>RS.<%= Add.find(wishlist_items.adds_id).price %> <i class="bx bxs-purchase-tag"></i></li>
        </p>
        <div class="btn-container">
          <%= link_to  "/wishlist_delete/#{wishlist_items.id}", method: :delete,class:"btn btn-success", data: {confirm: 'Are you sure ?'} do %><i class = "fa-solid fa-xmark"></i><%end%>
          <a href="homes/PageBuilding" class="btn btn-outline-success">add to cart</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
