<%# <h1>Shows#wishlist</h1>
<p>Find me in app/views/shows/wishlist.html.erb</p> %>
<div class="first-nav">
  <div class="container">
    <label class="logo"> azhagu</label>
    <div class="search_filter_div">
      <form action="/search" method="get">
        <input
         type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
         class="invisible_search"
       />
       <span> <input type="search" placeholder="Serach with product name" name="search" class=" "><i class="bx bx-search-alt-2"></i></span>
     </form>
    </div> 
    <ul class="box-holder">
      <%if session[:current_user_id] == nil %>
        <li>
          <%= link_to '/wislists', class: "class_link" do %>
            <i class="bx bxs-heart"></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signin">Login</a></li>
            <li><a class="dropdown-item" href="/sign_up">Register</a></li>
          </ul>
        </li>
      <%else%>
        <li>
          <%= link_to '/wishlists', class: "class_link" do %>
            <i class="bx bxs-heart"><span><%= @wishlist_count %></span></i>
          <% end %>
        </li>
        <li>
          <%= link_to '/cart', class: "class_link" do %>
            <i class="bx bxs-shopping-bag"><span><%= @cart_count %></span></i>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-btn" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bx bxs-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/signout">Profile</a></li>
            <li><a class="dropdown-item" href="/signout"> <i class='bx bx-log-out'></i>Logout</a></li>
          </ul>
          <% logged_user = User.find(session[:current_user_id]) %>
          <label class="user-name"><%= logged_user["name"] %></label>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="second-nav">
  <div class="container">
    <ul>
      <li><a href="/list_products">Catogeries</a></li>
      <li><a href="">Brands</a></li>
      <li><a href="">Offers</a></li>
      <li><a href="">Rewards</a></li>
      <li><a href="">Beauty Advice</a></li>
    </ul>
  </div>
</div>
<div class="wl-container">
  <% @items.each do |wishlist_items| %>
    <div class = "listing-box">
      <div class = "wishlt-imisg">
        <%= image_tag Add.find(wishlist_items.adds_id).image, class:"wish-img" %>
      </div>
      <div class = "wishlt-details-div">
        <div>
          <p class = "wish-price"><%= Add.find(wishlist_items.adds_id).name %> </p>
        </div>
        <div>
          <p class = "wish-price"><%= Add.find(wishlist_items.adds_id).price %> </p>
        </div>
        <div class = "btn-redirect">
          <div class = "xmark-div">
            <%= link_to  "/wishlist_delete/#{wishlist_items.id}", method: :delete, data: {confirm: 'Are you sure ?'} do %><i class = "fa-solid fa-xmark"></i><%end%>
          </div>
          <div class="btn-cart">Add To Cart</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
